* {
  font-family: 'Varela Round', sans-serif;
}
.mdl-grid {
  height: 100vh;
}
.image-part {
  display: flex;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.image-part .mdl-card {
  width: 430px;
  margin: auto;
  background-color: transparent;
}
.image-part .mdl-card img {
  width: 100%;
  height: auto;
  margin: auto;
}
.content-part {
  display: flex;
}
.content-part .mdl-card {
  margin: auto;
}
.title {
  color: #58585a;
  font-size: 2em;
  font-family: inherit;
}
.password-icon {
  right: 0px;
  bottom: 25px;
  position: absolute;
  cursor: pointer;
}
.login-button-container {
  padding: 8px 0;
}
.login-button-container button {
  height: auto;
  width: 100%;
  margin-top: 15px;
  color: white !important;
  letter-spacing: 1px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
}

/*****************************************************************************************/
/*                                   Material Icons                                      */
/*****************************************************************************************/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}